table {

    border-collapse: collapse;
    table-layout: auto;
    border: 3px solid;
    width:100%;
}

th {
    padding: 10px;
    border: 1px solid
}

td {

    padding: 10px;
    border: 1px solid
}

tr{
    padding: 10px;
    border: 1px solid;
};